{% extends "restaurateur/base/base.html" %}
{% load static %}
{% block body %}
    <section class="uk-cover-container ce-overlay-wrap">
        <img data-src="{% static 'img/welcome/main.jpg' %}" alt="" data-uk-cover data-uk-img
        >
        <div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-medium uk-light">
            <div class="uk-container uk-container-small uk-text-center">
                <h1>Станьте партнёром сервиса Click&Eat</h1>
            </div>
        </div>
    </section>
{% endblock %}
{% block main %}
    <h1>Оставьте заявку на подключение к сервису Click&Eat</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="uk-fieldset">
            <h2>Контактная информация</h2>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                    <input name="phone" class="uk-input uk-border" required placeholder="Номер телефона" type="text">
                </div>
            </div>
            <hr>
            <h2>О ресторане</h2>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                    <input name="title" class="uk-input uk-border" required placeholder="Название ресторана" type="text">
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                    <input name="city" class="uk-input uk-border" required placeholder="Город" type="text">
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    <input name="website" class="uk-input uk-border" placeholder="Сайт (если есть)" type="password">
                </div>
            </div>
            <hr>
            <div class="uk-margin-small">
                <label><input name="remember_me" class="uk-checkbox" type="checkbox" value="off"> Я соглашаюсь с условиями обработки моих данных...</label>
            </div>
            <hr>
            <div class="uk-margin-bottom">
                <button type="submit" class="uk-button uk-button-secondary uk-border uk-width-1-1">Отправить заявку</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
