{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Click & Eat</title>
		<link rel="icon" href="{% static 'img/favicon.ico' %}">
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <style>
            .nav {
                position: absolute;
                top: 15px;
                z-index: 99;
                left: 0;
                right: 0;
            }
            .uk-sticky-placeholder {
                height: 0 !important;
            }
            .top-wrap::before, .overlay-wrap::before {
                position: absolute;
                top:0;
                right:0;
                left: 0;
                bottom: 0;
                content: '';
                z-index: 1;
                background-color: rgba(0,0,0,0.5);
            }
            .top-wrap-height {
                height: 80vh;
                min-height: 460px;
                transition: height 0.25s;
            }
            .uk-subnav-pill > * > :first-child {
                padding: 0.5rem 1rem;
                background-color: rgba(0, 0, 0, 0.04);
            }
            .top-container {
                z-index: 2;
            }
            .uk-logo img {
                height: 38px;
            }
            .subtitle-text {
                font-size: 1.2em;
                opacity: 0.7;
                font-weight: 300;
            }
            .logos-grid img {
                display: block;
                width: 60px;
                margin: 0 auto;
                filter:  grayscale(100%);
                transition: filter 0.25s;
            }
            .logos-grid img:hover {
                display: block;
                width: 60px;
                margin: 0 auto;
                filter:  grayscale(0);
            }
        </style>
	</head>
	<body>
		<!-- TOP -->
		<div class="top-wrap uk-position-relative uk-light uk-background-secondary">

			<!-- NAV -->
			<div class="nav" data-uk="cls-active: uk-background-secondary uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top">
				<div class="uk-container">
					<div class="uk-navbar uk-navbar-container uk-navbar-transparent" data-uk-navbar>
						<div class="uk-navbar-left">
							<div class="uk-navbar-item uk-padding-remove-horizontal">
								<a class="uk-logo-lg" title="Logo" href=""><img src="{% static 'img/logo_medium.png' %}" alt="Logo"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /NAV -->

			<div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height">

				<!-- TOP CONTAINER -->
				<div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
					<div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
						<h3 class="uk-text-primary uk-margin-small-bottom">Click&Eat</h3>
						<h1 class="uk-margin-remove-top">Касса в браузерах Ваших клиентов</h1>
						<p class="subtitle-text uk-visible">Ваши клиенты смогут оформить и оплатить заказ через браузер или смартфон</p>
						<a href="{% url 'restaurant_create' %}" title="Learn More" class="uk-button uk-button-primary uk-border-pill" data-uk-scrollspy-class="uk-animation-fade">Подключиться</a>
					</div>
				</div>
				<!-- /TOP CONTAINER -->
				<!-- TOP IMAGE -->
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				data-src="{% static 'img/welcome/main.jpg' %}" alt="" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"
				>
				<!-- /TOP IMAGE -->
			</div>
			<div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
				<a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"></a>
			</div>
		</div>
		<!-- /TOP -->
		<section id="content" class="uk-section uk-section-default">
			<div class="uk-container">
				<div class="uk-section uk-section-small uk-padding-remove-top">
					<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade">
						<li><a class="uk-border-pill" href="#content" data-uk-scroll="duration: 500">ЗАКАЗ</a></li>
						<li><a class="uk-border-pill" href="#content" data-uk-scroll="duration: 500">ОБРАБОТКА</a></li>
						<li><a class="uk-border-pill" href="#content" data-uk-scroll="duration: 500">ПОЛУЧЕНИЕ ЗАКАЗА</a></li>
					</ul>
				</div>

				<ul class="uk-switcher uk-margin">
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div>
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static 'img/welcome/order.png' %}" alt="" data-uk-img>
							</div>
							<div data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">Всё очень просто!</h2>
								<p class="subtitle-text">
                                    <ul>
                                        <li>Клиент выберает ресторан из списка или на карте</li>
                                        <li>Клиент выбирает интересующие его позиции</li>
                                        <li>Клиент указывает время, к которому заказ должен быть готов</li>
                                        <li>Клиент оплачивает заказ</li>
                                    </ul>
								</p>
								<div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
									<div>
										<h4>Никаких очередей</h4>
										<p>Клиенту не придётся стоять в очереди, чтобы оформить заказ</p>
									</div>
									<div>
										<h4>Быстрая выдача</h4>
										<p>Клиенту не придётся ждать и стоять в очереди, чтобы забрать заказ</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div>
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static 'img/welcome/cooking.png' %}" alt="" data-uk-img>
							</div>
							<div data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">Ресторан мгновенно получите заказ</h2>
								<p class="subtitle-text">
                                    Ресторан приступит к реализации Вашего заказа.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
							<div>
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static 'img/welcome/order_bag.png' %}" alt="" data-uk-img>
							</div>
							<div data-uk-scrollspy-class="uk-animation-slide-right-medium">
								<h2 class="uk-margin-small-top">Заказ готов!</h2>
								<p class="subtitle-text">
									Клиент называет код на стойке выдачи и забирает заказ
								</p>
								<div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
									<div>
										<h4>Просто</h4>
										<p>Процесс оформления и получения доведен до предельной простоты</p>
									</div>
									<div>
										<h4>Много сэкономленного времени</h4>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>


			</div>
		</section>
		<section class="uk-section uk-section-secondary uk-section-large">
			<div class="uk-container">
				<div class="uk-grid uk-child-width-1-2@l uk-flex-middle">
					<div>
						<h3>Click&Eat</h3>
						<h2 class="uk-margin-small-top uk-h1">Подключитесь к надежному сервису по заказам еды</h2>
						<p class="subtitle-text">
							Более, чем -1 ресторанов сотрудничают с нами
						</p>
						<a href="{% url 'restaurant_create' %}" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">Подключиться</a>
					</div>
					<div data-uk-scrollspy="cls: uk-animation-fade">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-2.svg" data-uk-img alt="Image">
					</div>
				</div>
			</div>
		</section>
		<section class="uk-cover-container overlay-wrap">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			data-src="{% static 'img/welcome/cook.jpg' %}" alt="" data-uk-cover data-uk-img
			>
			<div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light">
				<div class="uk-grid uk-flex-right">

					<div class="uk-width-2-5@m" data-uk-parallax="y: 50,-50; easing: 0; media:@l">
						<h3>Отзывы ресторанов</h3>
						<div class="uk-position-relative uk-visible-toggle uk-light" data-uk-slider="easing: cubic-bezier(.16,.75,.47,1)">
							<ul class="uk-slider-items uk-child-width-1-1">
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h2 class="uk-margin-small-top">"Мы уже более 0 лет сотрудничаем с Click&Eat. У нас появилось много клиентов, которые заказывают через Click&Eat"</h2>
										<p class="uk-text-meta">Максим Максимов, директор Пончиковой "ПОНЧИК"</p>
									</div>
								</li>
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h2 class="uk-margin-small-top">"Благодаря Click&Eat количество клиентов нашего заведения увеличилось. Прибыль возрасла в 10 раз!"</h2>
										<p class="uk-text-meta">Егор Егоров, владелец кофейни у метро Парк Культуры</p>
									</div>
								</li>
								<li>
									<div data-uk-slider-parallax="opacity: 0.2,1,0.2">
										<h2 class="uk-margin-small-top">"Наш ресторан находится в бизнес-центре, и многим клиентам удобнее заказать еду из офиса и забрать, не тратя время в очереди"</h2>
										<p class="uk-text-meta">Алина Алиновна, менеджер домашней пекарни в бизнес-центре "Крылатское"</p>
									</div>
								</li>
							</ul>
							<ul class="uk-slider-nav uk-dotnav uk-margin-top"><li></li></ul>

						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- FOOTER -->
		<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
			<div class="uk-container">
				<div class="uk-grid uk-grid-large" data-uk-grid>
					<div class="uk-width-1-2@m">
						<h3>Click&Eat</h3>
						<p>Мы заботимся о том, чтобы наши пользователи были довольны! <br> По всем вопросам: <a href="#" title="">support@clickandeat.ru</a></p>
						<div>
							<a href="" class="uk-icon-button" data-uk-icon="twitter"></a>
							<a href="" class="uk-icon-button" data-uk-icon="facebook"></a>
							<a href="" class="uk-icon-button" data-uk-icon="instagram"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="uk-text-center uk-padding uk-padding-remove-horizontal">
				<span class="uk-text-small uk-text-muted">© 2020 Click&Eat</span>
			</div>
		</footer>
		<!-- /FOOTER -->

		<!-- JS FILES -->
		<script src="{% static 'js/uikit.min.js' %}"></script>
		<script src="{% static 'js/uikit-icons.min.js' %}"></script>
	</body>
</html>