{% extends "main/../base/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
    <section class="uk-section-muted ">

        <div class="uk-container">
        <h2>Профиль</h2>
    <div uk-grid>
        <div class="uk-width-auto@s" >

        <div class="uk-height-auto uk-width-auto uk-card uk-card-default uk-card-body">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li><a href={% url 'history' %}><span data-uk-icon="icon:history"></span> История заказов</a></li>
                <li><a href={% url 'habits' %}><span data-uk-icon="icon:heart"></span> Предпочтения</a></li>
                <li><a href={% url 'allergy' %}><span data-uk-icon="icon:warning"></span> Аллергии</a></li>
                <li><a href={% url 'settings' %}><span data-uk-icon="icon:cog"></span> Настройки профиля</a></li>
            </ul>
         </div>
        </div>


    <div class="uk-width-expand" >
        <div class=" uk-card uk-card-default uk-card-body ">


    <div class="uk-flex uk-flex-center">

                    <form class="uk-form-stacked" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<fieldset class="uk-fieldset">
     <div class="uk-margin">

                {% with WIDGET_ERROR_CLASS='uk-input uk-width-1-1@l' WIDGET_REQUIRED_CLASS='uk-input uk-width-1-1@l' %}
                     <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Старый пароль</label>
                    <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                         {% render_field form_edit_password.old_password %}
                     </div>
                     </div>
                     <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Новый пароль</label>
                                        <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:  lock"></span>

                         {% render_field form_edit_password.new_password1 %}
                     </div>
                     </div>
                     <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Подтверждение нового пароля</label>
                                        <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:  lock"></span>

                         {% render_field form_edit_password.new_password2%}
                     </div>
                     </div>
                {% endwith %}

            <div class="uk-flex uk-flex-center">
            <button type="submit" class="uk-button uk-button-secondary uk-border uk-display-inline-block">Применить</button>
            </div>


</div>

</fieldset>
                    </form>



        </div>
    </div>
</div>

</div>


        </div>
        </div>

    </section>
{% endblock %}

{% block main %}

    {% if form_edit_password.errors %}
    {% for field in form_edit_password %}
        {% for error in field.errors %}


        <div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ error|escape }}</p>
</div>

        {% endfor %}
    {% endfor %}
    {% for error in form_edit_password.non_field_errors %}

<div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ error|escape }}</p>
</div>
    {% endfor %}
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
