<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <h3>Click&Eat</h3>
                <p>Мы заботимся о том, чтобы наши пользователи были довольны! <br> По всем вопросам: <a href="#"
                                                                                                        title="">support@clickandeat.ru</a>
                </p>
                <br>
                <div>


                    <a href="{% url 'restaurateur' %}">Ресторанам</a>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">© 2020 Click&Eat</span>
    </div>
</footer>