{% extends "restaurateur/restaurant/base/base.html" %}

{% block main %}

    <h1>
        <a href="{% url 'restaurant_dashboard' restaurant_id=restaurant.id %}" uk-tooltip="Назад" class="ce-card-link uk-text-secondary">
            <span data-uk-icon="icon: arrow-left; ratio: 2;">
            </span>
        </a>
        Адреса ресторанов
        <span>
            <a href="{% url 'restaurant_add_address' restaurant_id=restaurant.id %}"
               class="uk-align uk-align-right uk-text-middle uk-button uk-button-secondary">Добавить адрес</a>
        </span>
    </h1>

    <hr>

    {% for address in addresses %}
        <h3 class="uk-text-light">
        <span>
            {{ address.address }}
            <a href="{% url 'restaurant_edit_address' restaurant_id=restaurant.id address_id=address.id %}"
               class="uk-align uk-align-right uk-text-middle uk-button uk-button-secondary">Редактировать</a>
        </span>
        </h3>
    {% endfor %}
{% endblock %}




