{% extends "main/../base/base.html" %}
{% load static %}

{% block body %}
    <section class="uk-cover-container ce-overlay-wrap">
        <img data-src="{% static 'img/welcome/main.jpg' %}" alt="" data-uk-cover data-uk-img
        >
        <div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-medium uk-light">
            <div class="uk-container uk-container-small uk-text-center">
                <h1>Click&Eat</h1>
                <h3 style="margin-top: 0">Мобильная касса в Вашем браузере</h3>
                <div data-uk-margin>
                    <div class="uk-button uk-button-primary" data-uk-toggle>
                        Показать рестораны на карте
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="uk-section uk-section-default uk-box-shadow-small uk-section-xsmall">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center">
                <ul class="uk-subnav uk-subnav-pill uk-subnav-divider">
                    <li class="uk-active"><a href="#">Все</a></li>
                    <li><a href="#">Бургеры</a></li>
                    <li><a href="#">Суши</a></li>
                    <li><a href="#">Пицца</a></li>
                    <li><a href="#">Стрит-фуд</a></li>
                    <li>
                        <a href="#">Еще <span uk-icon="icon:  triangle-down"></span></a>
                        <div uk-dropdown="mode: click;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Здоровая еда</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Кофе</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Выпечка</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-flex uk-flex-center">
                <input class="uk-input" type="text" placeholder="Название, кухня или блюдо">
            </div>
        </div>
    </section>
{% endblock %}
{% block main %}
    <h1>Рестораны</h1>
    <div class="uk-grid uk-grid-small uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-3@m uk-grid-match"
         data-uk-grid>
        {% for restaurant in restaurants %}
            <a href="{% url 'restaurant' restaurant.id %}" style="text-decoration: none">
                {% include 'base/restaurant_card.html' %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
